


/* Estilos para el modal personalizado */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fixed img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.fixed button {
  background: transparent;
  border: none;
  cursor: pointer;
}
swiper-container {
  width: 100%;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}
