<section style="background: #343531"
         class="py-20 text-white md:pl-8 md:pr-8" >
  <div scrollReveal
       class="transition-opacity duration-700
       transform w-full md:w-2/5 pl-2 md:mb-10 ">
    <h3 id="Services" class="underline text-sm
                   underline-offset-4 md:mt-3 scroll-mt-40">Faq</h3>
    <h2 class="text-2xl text-emerald-300 mt-3 font-bold">
      {{ 'Faqs.title' | translate  }}
      <span class="text-white"> {{ 'Faqs.subtitle' | translate  }}</span>
    </h2>

  </div>

  <div class="pl-2">
    <p-accordion >
      <p-accordionTab header="Header I" headerStyleClass="custom-header">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header II" headerStyleClass="custom-header">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header III"  headerStyleClass="custom-header" >
        <p>
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>


</section>
