.hero {
  height: 100vh; /* Full viewport height */
  background: url('/assets/hero.jpg') no-repeat center center/cover; /* Background image */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  position: relative;
}


.hero-content {
  text-align: left;
  color: white;
  max-width: 500px;
}
