<header
  class="pb-0 fixed top-0 left-0 w-full z-10
  bg-white bg-opacity-55 md:bg-opacity-10 font-roboto">
  <div class="px-4 mx-auto max-w-6xl sm:px-6 lg:px-8 text-white">
    <!-- Navigation bar -->
    <nav class="flex items-center justify-between h-16 lg:h-20">
      <div class="flex-shrink-0">
        <a href="#" title="" class="group flex transition-all duration-500 ease-in-out">
          <h1 class="text-3xl italic font-semibold">XrCancún</h1>
        </a>
      </div>

      <!-- Hamburger Button for mobile -->
      <button type="button"
              class="inline-flex p-2 transition-all duration-200 rounded-md
              lg:hidden focus:bg-gray-100 hover:bg-gray-100"
              (click)="toggleMenu()">

        <!-- Hamburger Icon -->
        <svg *ngIf="!menuOpen" class="block w-6 h-6"
             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
        </svg>

        <!-- Close Icon -->
        <svg *ngIf="menuOpen"
             class="block w-6 h-6 z-50" xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

      <!-- Full-screen navigation for large screens -->
      <div class="hidden lg:flex text-lg lg:items-center lg:ml-auto lg:space-x-10">
        <a href="#" class="group transition-all duration-500 ease-in-out">
          <span
            class="bg-left-bottom bg-gradient-to-r from-white to-white
            bg-[length:0%_1px] bg-no-repeat group-hover:bg-[length:100%_2px]
            transition-all duration-500 ease-out">Home</span>
        </a>
        <a href="#About" class="group transition-all duration-500 ease-in-out">
          <span
            class="bg-left-bottom bg-gradient-to-r from-white to-white
            bg-[length:0%_1px] bg-no-repeat group-hover:bg-[length:100%_2px]
            transition-all duration-500 ease-out">About</span>
        </a>
        <a href="#Gallery" class="group transition-all duration-500 ease-in-out">
          <span
            class="bg-left-bottom bg-gradient-to-r from-white to-white
            bg-[length:0%_1px] bg-no-repeat group-hover:bg-[length:100%_2px]
            transition-all duration-500 ease-out">Gallery</span>
        </a>
        <a href="#" class="group transition-all duration-500 ease-in-out">
          <span
            class="bg-left-bottom bg-gradient-to-r from-white to-white
            bg-[length:0%_1px] bg-no-repeat group-hover:bg-[length:100%_2px]
            transition-all duration-500 ease-out">Login</span>
        </a>

        <button class="group bg-white relative font-semibold
                inline-flex items-center overflow-hidden
                rounded-full px-10 py-2 ml-10
                text-fuchsia-800 hover:text-white">
          <span class="duration-400 ease absolute left-0 top-1/2 block h-0
                w-full bg-fuchsia-800 opacity-100 transition-all
                group-hover:top-0 group-hover:h-full"></span>
          <span class="ease absolute right-0 flex h-5 w-10 translate-x-full
                transform items-center justify-start duration-500
                group-hover:-translate-x-2">
              <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
          </span>
          <span class="relative transform
              duration-700 group-hover:-translate-x-3">Booking</span>
        </button>
      </div>
    </nav>

    <!-- Full-screen overlay for mobile menu -->
    <div
         class="fixed inset-0 bg-black bg-opacity-80 z-20 lg:hidden
         transition-all duration-500 ease-in-out"
         [ngClass]="menuOpen ? 'translate-x-0' : '-translate-x-full'" >
      <nav class="flex flex-col items-center justify-center h-full space-y-6" (click)="toggleMenu()">
        <a href="#" class="text-white text-2xl">Home</a>
        <a href="#About" class="text-white text-2xl">About Us</a>
        <a href="#Gallery" class="text-white text-2xl">Gallery</a>
        <a href="#" class="text-white text-2xl">Services</a>
        <a href="#" class="text-white text-2xl">Login</a>
        <button class="bg-fuchsia-800 text-white rounded-full px-10 py-2 text-2xl">Booking</button>
      </nav>
    </div>
  </div>
</header>


<section class="hero md:pl-8 pl-2 text-emerald-600">
  <!--<h1>Capture Your Best Moments</h1>
  <p>Book a professional photo session today!</p>
  <p-button>Olaa</p-button>
  <p-calendar></p-calendar>

  <p-calendar [(ngModel)]="date1">
    <ng-template pTemplate="date" let-date>
      <span *ngIf="date.day < 10">0{{date.day}}</span>
      <span *ngIf="date.day >= 10">{{date.day}}</span>
    </ng-template>
  </p-calendar>
  <p-calendar [(ngModel)]="date1" [disabledDates]="disabledDates">
  <ng-template pTemplate="date" let-date>
    <span *ngIf="date.day < 10">0{{ date.day }}</span>
    <span *ngIf="date.day >= 10">{{ date.day }}</span>
  </ng-template>
</p-calendar>-->
  <div class="hero-content transition-opacity duration-700 transform">
    <h1 class="text-4xl font-semibold leading-snug ">
      Book Your Photography Session Today!</h1>
    <p class="leading-8 text-sm drop-shadow-lg">
      At <span class="font-semibold italic">XrCancún</span>, we believe every
      moment deserves to be immortalized.
      Whether you're celebrating a milestone,
      or simply want to preserve life's beautiful moments,
      we are here to turn your vision into stunning photographs.</p>

      <a href="#" title=""
         class="items-center text-sm mt-2
         text-black justify-center hidden px-9 py-1
         hover:bg-gray-300
         transition-all duration-200 bg-white border
         border-transparent rounded-full lg:inline-flex"
         role="button">Explore More</a>
  </div>


</section>


<section id="services" style="background-color: #1c1a1f"
         class="text-white flex flex-col md:flex-row md:pl-8
         justify-between py-20">
  <!-- Text Section -->
  <div scrollReveal
       class="transition-opacity duration-700 pl-2
       transform w-full md:w-2/5">
    <h3 id="About" class="underline text-sm underline-offset-4 md:mt-3">About us</h3>

    <h2 class="text-2xl text-emerald-300 mt-3">
      Preserve Your Memories for a lifetime with Our Professional Photography!
    </h2>
    <p class="leading-1 text-justify mt-3 mr-1">
      Our professional photography services are designed to capture every special moment,
      ensuring that you can relive and treasure them for years to come.
      We are here to provide you with high-quality images that reflect the essence of your experience.
    </p>
  </div>

  <!-- Image Section -->
  <div scrollReveal
       class="w-full md:w-1/2 md:mr-5 transition-opacity
       duration-700 transform mt-8 md:mt-0 pl-0">
    <img src="../assets/sub-hero.jpg"
         class="rounded-2xl
         md:border-b-8 md:border-r-8 border-emerald-700"/>
  </div>
</section>

<app-gallery id="Gallery"></app-gallery>
<footer>
  <p>© 2024 Photography Company</p>
  <a href="https://facebook.com">Facebook</a>
</footer>
